[2016-09-15 14:56] runcom opened #2 "Provide libraries"
this project could/should provide libraries around the commands' functionalities so people can write additional tooling.

[2016-09-15 15:27] wking commented on #2
On Thu, Sep 15, 2016 at 07:56:49AM -0700, Antonio Murdaca wrote:

Work in that direction in opencontainers/image-spec#159 ;).  Should I
re-open that over here?

[2016-09-15 15:31] runcom commented on #2
we need to slightly refactor the code _at least_ according to https://github.com/opencontainers/image-spec/pull/234#issuecomment-246798847 before taking into consideration https://github.com/opencontainers/image-spec/pull/159 (there has been no consensus in there also) IMO

[2016-09-15 15:47] wking commented on #2
On Thu, Sep 15, 2016 at 08:31:38AM -0700, Antonio Murdaca wrote:

I already have a callback-based ref walker [1,2] (following a @stevvooe
suggestion [3]).

[1]: https://github.com/opencontainers/image-spec/pull/159#issuecomment-243668016
[2]: https://github.com/opencontainers/image-spec/pull/159/files#diff-d8af84c58f6ae3369e0b5cbca06727dfR43
[3]: https://github.com/opencontainers/image-spec/pull/1

[2016-09-15 16:33] glestaris commented on #2
I think libraries with fairly stable APIs would be great!

Unpacking can be error-prone, signature validation (once it becomes part of the spec) is not code you want to write yourself and anything that has to do with CAS would be good to share. For all these reasons I would love OCI to expose this functionality through reusable and configurable Go APIs in addition to the CLIs.

[2016-09-15 19:33] stevvooe commented on #2
@runcom Go doesn't have "libraries" - it has packages. ;)

Indeed, the goal is to provide rich APIs, but I don't think we are even _close_ to a point where we can stabilize an API. The current code is fine for purpose, but I don't think the interface is flexible enough to stand the test of time.

[2016-09-15 19:50] wking commented on #2
On Thu, Sep 15, 2016 at 12:33:24PM -0700, Stephen Day wrote:

Possibly true, but you have to start somewhere ;).

[2016-09-15 20:09] runcom commented on #2
Agree with @wking, starting somewhere and defining a versioned API shouldn't hurt anyone. We can't just wait because we're not at the point to _fully stabilize_ (other projects broke backward compatibility, libraries break compatibility at almost each major release..).

Yet are libraries to me, but whatever

[2016-09-21 02:45] philips opened #13 "include URL to the project"
_From @vbatts on September 13, 2016 20:0_

Anyone that uses the cli tools ought to have see a URL to the project in the usage (`--help`), so that:
- they can learn more on the spec that the tool is referencing
- they can report issues

_Copied from original issue: opencontainers/image-spec#307_

[2016-09-21 02:45] philips commented on #13
_From @runcom on September 13, 2016 20:16_

@vbatts do we want the URL to show up only when `oci-image-tool --help` (or w/o `--help`) or with every subcommand? it requires to duplicate that URL to every subcommand if we go to show it on every subcommand. Is this for 0.5.0?

[2016-09-21 02:45] philips commented on #13
_From @vbatts on September 13, 2016 21:4_

I wasn't think that every subcommand need it... but maybe? I'm not convinced. Only that it need to be discoverable.

And this is just a nice-to-have, not related to v0.5.0

[2016-09-21 02:46] philips opened #14 "cmd/oci-image-tool: use logrus to ease printing to stdout"
_From @runcom on September 9, 2016 8:46_

$SUBJECT - logrus have various and a nicer way of printing logs to stdout with the option to specify the log level (which can then be used to differentiate the validation level in a nicer way).
The current way of embedding stdout in the validation struct isn't as pretty as it would be by having a nicer logger like logrus.

I would also suggest to have a co

[2016-09-21 02:46] philips commented on #14
_From @s-urbaniak on September 9, 2016 9:15_

logrus is pretty accepted in the ecosystem, and structured logging doesn't
sound too bad. So I am +1 for this.

On Fri, Sep 9, 2016 at 10:46 AM Antonio Murdaca <notifications@github.com>
wrote:

[2016-09-21 02:46] philips commented on #14
_From @xiekeyang on September 9, 2016 10:1_

+1

[2016-09-21 02:46] philips commented on #14
_From @runcom on September 9, 2016 10:4_

I'll work on this once we reach consensus and figure out all the other issues about errors/warnings when validating an image, I would love to have a table-like document which lists soft and hard requirement for image validation w/o having to go through the whole spec to figure out MUST and SHOULD. Do you guys think it would be nice/useful to have such a do

[2016-09-21 02:46] philips commented on #14
_From @xiekeyang on September 9, 2016 10:16_

It is deep related to #234
In which we are also discussing logrus.
https://github.com/opencontainers/image-spec/pull/234#issuecomment-245789721

[2016-09-21 02:46] philips commented on #14
_From @s-urbaniak on September 9, 2016 10:25_

xfref regarding "how to inject the logger": https://github.com/opencontainers/image-spec/pull/234#issuecomment-245876579

I am in favor of classical dependency injection as per https://peter.bourgon.org/go-best-practices-2016/#program-design.

[2016-09-21 02:46] philips commented on #14
_From @wking on September 9, 2016 15:27_

On Fri, Sep 09, 2016 at 03:25:13AM -0700, Sergiusz Urbaniak wrote:

I'm ok with including a logger in our types to avoid relying on global
state.  But transitioning to logrus could happen in two stages:

* Replace log calls with logrus calls using the global state.
* Replace global-state logging with explicit logger state carried in
  our types.

Both of t

[2016-09-21 02:46] philips commented on #14
_From @runcom on September 9, 2016 15:29_

totally agree on this point

[2016-09-21 02:46] philips opened #15 "cmd/oci-image-tool: is having empty refs/ a valid image?"
_From @runcom on September 9, 2016 8:40_

$SUBJECT and basically, is it valid to have stuff under `blobs/` not referenced? Can I still package it up and validation is ok given there are no refs/? Should we print a warning (which can be silenced)?

_Copied from original issue: opencontainers/image-spec#287_

[2016-09-21 02:46] philips commented on #15
_From @wking on September 9, 2016 9:4_

On Fri, Sep 09, 2016 at 01:40:15AM -0700, Antonio Murdaca wrote:

I think so.  At least I don't see any “and there MUST be at least one
ref” language.  And if you cared about running images from the layour
that would be “and there MUST be at least one unpackable ref”
language.  And then you have to match the oci-layout version with the
media types that were

[2016-09-21 02:46] philips commented on #15
_From @vbatts on September 13, 2016 19:20_

Both seem valid to me

[2016-09-21 02:46] philips commented on #15
_From @runcom on September 13, 2016 19:25_

Alright, can we keep this open so we won't forget about adding some sort of warning/log when this happens

[2016-09-21 02:47] philips opened #16 "cmd/oci-image-tool: validation errors and warnings"
_From @runcom on September 9, 2016 8:33_

From https://github.com/opencontainers/image-spec/pull/279#issuecomment-245717705

Action: `oci-image-tool validate` should soften the error given when an unknown media type is encountered when validating a reference under `refs/`.

Discussion: does the above work with media types found in manifests as well? Should we just print a warning and `exit 0` from

[2016-09-21 02:47] philips commented on #16
_From @wking on September 9, 2016 8:52_

On Fri, Sep 09, 2016 at 01:33:06AM -0700, Antonio Murdaca wrote:

I think the softening should go behind a flag like --unpackable [1]
(which makes more sense than my alternative
--ignore-unknown-media-types [2]).  This gives you a way to toggle (b)
in the following cases:

a) The media type is recognized and an expected target of the source
   location (alw

[2016-09-21 02:47] philips commented on #16
_From @wking on September 9, 2016 8:55_

On Fri, Sep 09, 2016 at 01:50:04AM -0700, W. Trevor King wrote:

Scratch that, we *would* still have instances of (b) in the refs.  So
we'd need --unpackable (or some such) to ignore cases where someone
added an image/png ref (or whatever).  This is exactly the case that
@stevvoe was concerned about ([optionally?] not erroring for unknown
ref media types) [

[2016-09-21 02:47] philips commented on #16
_From @runcom on September 9, 2016 8:59_

@wking I really struggle at following you comments full of references to other issues/place of your paragraph. I personally find it really confusing. Could you please concisely re-explain what are you suggesting to have here?

[2016-09-21 02:47] philips commented on #16
_From @wking on September 9, 2016 10:21_

On Fri, Sep 09, 2016 at 01:59:05AM -0700, Antonio Murdaca wrote:

Some of the things are not actionable suggestions, but just raising
points for discussion.  For example, “should manifest.layers require
descriptors to be application/vnd.oci.image.layer.tar+gzip?”.  This is
(like most decisions) a balancing act between competing interests.  I
tried to lay o

[2016-09-21 02:47] philips commented on #16
_From @stevvooe on September 13, 2016 19:16_

@philips @wking @runcom Do we have a general UX plan for this tool?

[2016-09-21 02:47] philips commented on #16
_From @runcom on September 13, 2016 19:19_

@stevvooe I have something in mind and I started working on it already but don't want to create more issues and PRs here since the repo will be split shortly to avoid further work to do when moving. I'm doing a light refactor focused on validation stages though, the order will be discussed separately after I submit a PR.

[2016-09-21 02:47] philips commented on #16
_From @stevvooe on September 13, 2016 21:19_

@runcom Sounds great!

[2016-09-21 02:47] philips opened #17 "oci-image-tool unpack does not preserve permissions and ownership of entries"
_From @glestaris on September 8, 2016 14:7_

`oci-image-tool` does not `chmod` or `chown` the extracted files. I wonder if this is something intentional or PR-worthy.

_Copied from original issue: opencontainers/image-spec#281_

[2016-09-21 02:47] philips commented on #17
_From @wking on September 8, 2016 15:57_

On Thu, Sep 08, 2016 at 07:07:39AM -0700, George Lestaris wrote:

I think this should be fixed.  Unpacking semantics should probably be
just like tar, and from tar(1) [1]:
—
       --no-same-owner
              Extract files as yourself (default for ordinary users).
       --no-same-permissions
              Apply the user's umask when extracting  permissi

[2016-09-21 02:47] philips commented on #17
_From @glestaris on September 9, 2016 15:15_

Thanks @wking, this validates my impression.

I am happy to pick this up and make a PR @opencontainers/image-spec-maintainers.

[2016-09-21 02:47] philips opened #18 "What flavor tests do we want?"
_From @wking on September 7, 2016 9:57_

#257 shows we could really use a test suite.  [I'm flexible][1], but it feels like our command line API is more stable than our current Go APIs.  How would folks feel about a test harness exercising the command line API?  Do we have a sharness/bats preference (I have more experience with sharness, but runC uses bats)?  Should this wait until after openconta

[2016-09-21 02:47] philips commented on #18
_From @glestaris on September 7, 2016 13:24_

I agree that the CLI should be tested instead of any Go API. I would prefer if we could use a Go testing framework, even though it's a CLI. Ginkgo [1] is being used in Cloud Foundry for all types of testing (API/CLI/unit).

Also, I guess this issue is mainly targeting a CLI test suite, but, would it make sense to consider having unit tests on some of t

[2016-09-21 02:47] philips commented on #18
_From @wking on September 7, 2016 15:49_

On Wed, Sep 07, 2016 at 06:24:42AM -0700, George Lestaris wrote:

Ginko looks nice, but I prefer shell-oriented test harnesses for the
command line because there's less boilerplate around invocation.
However, any framework around the command line is better than none, so
if maintainers want tests in Ginko (or whatever), I'll add them in
that framework.

As

[2016-09-21 02:47] philips opened #19 "oci-image-tool: support multiple --ref in unpack and create-runtime-bundle"
_From @runcom on September 6, 2016 17:14_

As the title says (validate has been fixed here https://github.com/opencontainers/image-spec/pull/265)

_Copied from original issue: opencontainers/image-spec#266_

[2016-09-21 02:47] philips commented on #19
_From @runcom on September 6, 2016 17:19_

/cc @s-urbaniak PTAL at the linked PR also

[2016-09-21 02:48] philips opened #20 "[RFE] oci-image-tool: produce a layer archive"
_From @vbatts on September 4, 2016 12:24_

Add a sub-command where two directory paths can be provided and the utility will produce a layer archive from comparing the two references.

(this exercise will help ensure the [layer.md](./layer.md) is readable)

_Copied from original issue: opencontainers/image-spec#254_

[2016-09-21 02:48] philips commented on #20
_From @coolljt0725 on September 5, 2016 13:37_

I'd like to work on this :)

[2016-09-21 02:48] philips commented on #20
@coolljt0725 go for it.

[2016-09-21 02:48] philips commented on #20
_From @coolljt0725 on September 7, 2016 8:36_

working on that, pr is coming :)

[2016-09-21 02:48] philips opened #21 "oci-image-tool: Cleanup partially-unpacked directories on failures"
_From @wking on September 1, 2016 18:16_

We might want a switch to turn this off, but I think the default should be to remove the unpack directory if we fail partway through the unpack.

Spun off from [here](https://github.com/opencontainers/image-spec/pull/240#issuecomment-244138589).

_Copied from original issue: opencontainers/image-spec#242_

[2016-09-21 02:48] philips opened #22 "oci-image-tool: more verbose output"
_From @s-urbaniak on August 30, 2016 12:55_

As per https://docs.google.com/document/d/1bsi9JCnmOMSZCDh3VmDCO1m17w1aNexX09naomcpUOs/edit the `oci-image-tool` should have more verbose output, more concretely:

Print ...
- [ ] the digests of objects
- [ ] the version of the spec tested against
- [ ] canonical mimetypes and alternative
- [ ] the version of the validator code
- [ ] a list of tests tha

[2016-09-21 02:48] philips commented on #22
_From @runcom on August 30, 2016 13:50_

@s-urbaniak If there's anything I can help with this please let me know

[2016-09-21 02:48] philips commented on #22
_From @s-urbaniak on August 30, 2016 14:51_

@runcom thanks for the help! Sure, just go ahead, I'll try tackle each of those in parallel with other rkt work. Just let me know if you want to tackle all of them or just a subset. Seem like low-hanging fruits to me.

[2016-09-21 02:48] philips commented on #22
_From @coolljt0725 on August 31, 2016 1:57_

@runcom  If you just tackle a subnet of them, I'd like to help with the rest

[2016-09-21 02:48] philips commented on #22
_From @xiekeyang on August 31, 2016 2:11_

@s-urbaniak If it need to be done based on #159 ?
It refactor the image tool completely. If we did before it is merged, we may be meet a big conflict.

[2016-09-21 02:48] philips commented on #22
_From @wking on August 31, 2016 4:21_

On Tue, Aug 30, 2016 at 07:11:01PM -0700, xiekeyang wrote:

I'm all for avoiding conflicts, but #159 tries to stay away from the
existing image-validation logic.  So I expect you can wade into these issues without butting heads with #159.

My long-term plan was to land #159 and then rewrite the
validation/unpacking logic to use callback registries.  Something

[2016-09-21 02:48] philips opened #23 "master broken: unable to validate: open /config-schema.json: no such file or directory"
_From @wking on June 21, 2016 3:17_

This is probably due to the floating dependencies without #148, but recent builds in a clean Go directory break with:

    $ make test
    go test -race ./...
    ?       github.com/opencontainers/image-spec/cmd/oci-image-tool [no test files]
    ?       github.com/opencontainers/image-spec/image      [no test files]
    --- FAIL: TestConfig (0.00s)

[2016-09-21 02:48] philips commented on #23
_From @wking on June 21, 2016 3:26_

Spun off from [earlier discussion][1] in #161.

[1]: https://github.com/opencontainers/image-spec/pull/161#issuecomment-227300170

[2016-09-21 02:48] philips commented on #23
_From @wking on June 21, 2016 4:0_

And the problem is (not surprisingly, given the error message) with `http/FileSystem` (see discussion in #150).  The tests pass with the following patch:

    diff --git a/schema/validator.go b/schema/validator.go
    index abc8d6d..537314a 100644
    --- a/schema/validator.go
    +++ b/schema/validator.go
    @@ -19,6 +19,7 @@ import (
     	"fmt"
     	"io"

[2016-09-21 02:48] philips commented on #23
_From @wking on June 21, 2016 4:13_

Rolling back assorted dependencies, the issue was introduced by xeipuuv/gojsonschema#103, and there are already comments there about broken loading as a result.  So folks who want a working test suite should pin thier gojsonschema before that PR landed or wait until they roll out a fix.

[2016-09-21 02:48] philips commented on #23
_From @vbatts on June 21, 2016 14:10_

correct. rolling back https://github.com/xeipuuv/gojsonschema/commit/ac948b64b57aa1beeb91c87069730e6f24bc91d9 lets the tests pass again. :-\

[2016-09-21 02:48] philips commented on #23
_From @petemoore on June 21, 2016 17:43_

I think https://github.com/xeipuuv/gojsonschema/pull/105 fixed a bug introduced in https://github.com/xeipuuv/gojsonschema/pull/103 - so you _might_ not need to pin anymore...

[2016-09-21 02:48] philips commented on #23
_From @vbatts on June 21, 2016 17:45_

nope. 105 did not fix the issue.

On Tue, Jun 21, 2016 at 1:43 PM, Pete Moore <notifications@github.com>
wrote:

[2016-09-21 02:48] philips opened #24 "oci-image-tool: Drop http.FileSystem?"
_From @wking on June 16, 2016 14:36_

While reading #148, the [`http.FileSystem` section][1] struck me as the wrong approach.  “I'd like to validate this content against this JSON Schema” is easy to support generically, and keeping the schemas themselves outside of that tool allows you to use an existing version of the tool to validate new content against new schemas.  If you compile the schemas i

[2016-09-21 02:48] philips commented on #24
I would be fine with making this an optional feature. Requiring network traffic by default doesn't seem like the best default however.

[2016-09-21 02:48] philips commented on #24
_From @wking on June 16, 2016 22:10_

On Thu, Jun 16, 2016 at 03:01:46PM -0700, Brandon Philips wrote:

Does Go have defaults for storing associated data (like Python's [1])?
Baking it into the binary seems like “here's my spell checker with a
compiled in snapshot of today's dictionary” (and I hope nobody does
that ;).

[1]: https://docs.python.org/3/distutils/setupscript.html#installing-package-d

[2016-09-21 02:48] philips commented on #24
@wking no, this is the "right" way os doing this for Go. Compiling in the data in a section via a const is the common practice. Not great but that is how it is.

We have a bunch of tools at CoreOS that use this fake filesystem thingie as default and then let people override in "dev" mode.

[2016-09-21 02:48] philips commented on #24
_From @s-urbaniak on June 17, 2016 13:48_

Agreeing to all @philips said. I can work on a possibility to look up schema via http/s, or if you @wking would like to do a PR, that'd be fine too.

[2016-09-21 02:48] philips commented on #24
_From @wking on June 17, 2016 16:12_

On Fri, Jun 17, 2016 at 06:48:30AM -0700, Sergiusz Urbaniak wrote:

I'm happy to let you do the work ;).

[2016-09-21 02:48] philips commented on #24
I am going to make this post-v1.0.0 as it feels like a nice to have. Also, labeling as help wanted as it is a fun Go project for someone :)

[2016-09-21 02:49] philips opened #25 "Convert a serialization config JSON to a OCI runtime configuration."
_From @s-urbaniak on May 25, 2016 1:44_

As per https://github.com/opencontainers/image-spec/pull/82#issuecomment-221450375: Currently, the `oci-image-tool` supports a simple unpacking mechanism to inspect deflated images and validation.

More concretely the config/image JSON https://github.com/opencontainers/image-spec/blob/master/serialization.md#image-json-description has to be converted to a h

[2016-09-21 02:49] philips commented on #25
_From @wking on May 25, 2016 3:17_

On Tue, May 24, 2016 at 06:44:43PM -0700, Sergiusz Urbaniak wrote:

I don't think this is possible.  For example, the image-spec schema
currently has ‘ExposedPorts’, but networking is out-of-scope for the
runtime config [1].  You'd have to select a particular network manager
(that isn't covered by an OCI spec) and setup hooks to drive that
network manager.

Step

[2016-09-21 02:49] philips commented on #25
@wking exposed ports is useful metadata from the image. I think it needs to exist to retain useful UX from builder to runner.

I am really really unclear on what you want to see here.

Furthermore, retaining the UX of container runtimes is a desirable part of the spec and explicitly called out in the README and image format spec project proposal:

[code]

[2016-09-21 02:49] philips commented on #25
_From @wking on May 25, 2016 15:44_

On Wed, May 25, 2016 at 08:22:16AM -0700, Brandon Philips wrote:

Then I think you want to file a PR against runtime-spec (or a
networking OCI spec?) to get it supported.  I don't think image-spec
is a good place to specify *container* networking.

As I understand it, #82 handles unpacking a local directory from layer
tarballs.  I want to see image-spec drop
ap

[2016-09-21 02:49] philips commented on #25
@wking the runtime can IGNORE this information and it can be used by a higher level system. I will file an issue about _how_ to convert it but I don't think dropping it makes sense.

[2016-09-21 02:49] philips commented on #25
@wking I disagree with your suggestion of the split. The image format needs a way of expressing runtime defaults that aren't host specific which the runtime spec has not tackled and made difficult by recombining everything into a single config.json.

[2016-09-21 02:49] philips commented on #25
_From @wking on May 25, 2016 20:21_

On Wed, May 25, 2016 at 09:11:49AM -0700, Brandon Philips wrote:

And I'm fine with that, although I think we want to be careful about
how external tools like network managers are included [1].  I just
don't think the image-spec should be in the business of orchestrating
this.  You can have:

* Orchestration layer
  * Call image-spec tooling to fetch a generic

[2016-09-21 02:49] philips commented on #25
I think what we should do is just have an annotation on the runtime spec config that lists the exposed ports. Something like:

[code]

Then that can be consumed by whatever tool is setting up the networking.

[2016-09-21 02:49] philips commented on #25
_From @wking on June 7, 2016 16:57_

On Mon, Jun 06, 2016 at 10:50:41PM -0700, Brandon Philips wrote:

This approach doesn't work as well for more complex values like the
‘history’ structure [1].  I'd rather drop the hashmap restriction on
‘annotations’ [2] and embed the whole serialization config there, or
copy the full serialization config to separate file in the unpacked
bundle.  I'm not entire

[2016-09-21 02:49] philips commented on #25
To what end do we add stuff to the runtime config.json though? We could simply say that the original manifest sits inside the bundle instead.

The reason this annotation is needed in the container runtime is because presumably an OCI network plugin would need to read this to setup forwarding firewalls or something.

cc @opencontainers/runtime-spec-maintainers to discuss. @mrunalp lets put this on

[2016-09-21 02:49] philips commented on #25
_From @wking on June 7, 2016 23:45_

On Tue, Jun 07, 2016 at 04:40:25PM -0700, Brandon Philips wrote:

“copy the full serialization config to separate file” was one of my
options [1].

And they can access that information in the bundle directory without
us needing to put it in the annotations field [2].

[1]: https://github.com/opencontainers/image-spec/issues/87#issuecomment-224344976
[2]: https:

[2016-09-21 02:49] philips commented on #25
@wking fair point. I think the runtime spec maintainers should chime in on this point of external files vs serialized metadata into the config.json.

[2016-09-21 02:49] philips commented on #25
_From @wking on June 8, 2016 4:17_

On Tue, Jun 07, 2016 at 04:50:56PM -0700, Brandon Philips wrote:

I've filed opencontainers/runtime-spec#492 to see if they have any
generic opinions on this sort of thing.

[2016-09-21 02:49] philips commented on #25
_From @wking on June 14, 2016 16:20_

On Wed, May 25, 2016 at 01:21:39PM -0700, W. Trevor King wrote [1]:

Trying another angle at this…

If the mapping from RunConfig [2] to runtime-spec's config.json [3] is
supposed to be complete [4] and deterministic, what do we gain by
making the translation a post-fetch action instead of making it a
pre-publish action?  If image-spec transmits an opaque dire

[2016-09-21 02:49] philips commented on #25
@wking the main reason for keeping the config format as-is: 7.g "The first version of the OCI Specification should strive to be backwards compatible with the initial container image format..."

We might add a new media-type to the image spec to allow folks to provide a runtime spec directly but in its current form this spec only requires users to change the media-types in the manifest with a `%s%d

[2016-09-21 02:49] philips commented on #25
_From @wking on June 14, 2016 18:56_

On Tue, Jun 14, 2016 at 10:17:46AM -0700, Brandon Philips wrote:

I'm not clear on spec entries for backwards compat vs. tooling support
for backwards compat (I prefer restricting it to the tooling [1] and
migration notes [2]).  But if the goal is just backwards compat with
existing Docker versions, I can take a stab at an oci-image-tool
update that will make

[2016-09-21 02:49] philips commented on #25
@wking There is a cost to throwing out backwards compatibility at the format level: large numbers of objects in a registry CAS need to be re-interpreted. Because only the manifest and manifest list change with the `%s%docker%oci%g` of the media types a registry can start serving OCI manifests without changing any stored objects.

[2016-09-21 02:49] philips commented on #25
_From @wking on June 15, 2016 15:49_

On Wed, Jun 15, 2016 at 07:59:45AM -0700, Brandon Philips wrote:

That's only true if you want the registry to translate versions on the
fly, and I don't see a need for that.  For example, I have v1.1
through v1.7 PDFs on my hard-drive, but evince 3.16.1 based on poppler
can 0.42 can read them all without trouble (even though I don't have
tooling to translate

[2016-09-21 05:03] wking commented on #17
On Tue, Sep 20, 2016 at 07:47:22PM -0700, Brandon Philips wrote:

This PR has been filed as #3, so we can close this issue.

[2016-09-21 05:05] wking commented on #20
On Tue, Sep 20, 2016 at 07:48:04PM -0700, Brandon Philips wrote:

PR is #8; we can close this issue.

[2016-09-21 05:06] wking commented on #21
On Tue, Sep 20, 2016 at 07:48:16PM -0700, Brandon Philips wrote:

PR is #7; we can close this issue.

[2016-09-26 08:38] glestaris commented on #17
Happy to close this. I kept it open until the PR gets accepted, but it does not matter that much :)

[2016-09-26 08:39] glestaris commented on #17
...and I just realised I can't close it since I don't own the issue anymore :)
@philips feel free to close this

[2016-09-26 08:41] runcom commented on #17
@wking This issue should stay open as long as #3 isn't merged, #3 should instead have a "Close #17" so this get auto closed when merged.
If #17 doesn't end up merged we forgot about this.

[2016-09-27 13:41] glestaris commented on #22
Is this related to https://github.com/opencontainers/image-tools/issues/14? Should we first introduce a logging framework and then add logs for the above cases?

[2016-10-03 22:05] glestaris opened #33 "oci-unpack to handle UID/GID mappings"
As discussed lately in https://github.com/opencontainers/image-tools/pull/3, `oci-unpack` could also be handling UID/GID translation to prepare the unpacked image (rootfs) for a container that uses a user namespace with UID/GID mappings. There are, so far, the following use cases:

1. Multiple mappings: the UID/GIDs defined in the tar-ball need to be translated accordingly.
1. Single mapped user (

[2016-10-03 22:18] wking commented on #33
On Mon, Oct 03, 2016 at 03:05:50PM -0700, George Lestaris wrote:

I don't think you need the first two, and --fallback-uid can always be
the current user.  oci-unpack would need to learn an option to switch
between:

1. Always chown, die on errors (this is #3's --same-owner).
2. Always chown, warn on errors (maybe --try-same-owner?).
3. Never chown (this is #3's default for non-root users, and wou

[2016-10-04 08:30] glestaris commented on #33
I agree that we can avoid something like `--fallback-user`. However, I think having `oci-unpack` dealing with translation is important. I-- imagine the following workflow:

[code]

If we have to create the user namespace before unpacking the rootfs we would either have to use `unshare` or call `oci-unpack` through `runc` (which would probably mean calling runc twice).

[2016-10-04 17:21] wking commented on #33
On Tue, Oct 04, 2016 at 01:30:55AM -0700, George Lestaris wrote:

I don't mind calling unshare or runC for this.  And the OCI spec is a
bit tedious, but here's the ccon version:

  # ccon -s '

  # ls -l /tmp/a
  -rw-r--r-- 1 2001 3001 0 Oct  4 10:11 /tmp/a

That's more typing than a two command line options, but you could wrap
it up in a script if you don't want to retype it.  And it makes it
cle

[2016-10-06 03:59] xiekeyang opened #34 "pull requests pending"
@opencontainers/image-spec-maintainers
The pull requests seems to have been pending a few days. If you are planing to merge them, or there are some problem on processing?
Thanks.

[2016-10-06 04:20] wking commented on #34
On Wed, Oct 05, 2016 at 08:59:10PM -0700, xiekeyang wrote:

In yesterday's ContainerCon Europe [1], @vbatts mentioned this and my
recollection was that the issue was a combination of low maintainer
bandwidth and high comment volume.  I expect non-maintainer input here
will quiet down as the backlog builds, and then the maintainers will
be able to dig back out from under the pile ;).

[1]: https://

[2016-10-06 13:25] vbatts commented on #34
@xiekeyang I fully hear your frustration. This process is needing improvement. And likewise for your frustration of getting formidable review from maintainers of the project, it is difficult with there is a rough ratio of signal to noise.
I personally do what I can to give direct review regardless of the noise that happens.

[2016-10-07 01:41] xiekeyang commented on #34
@vbatts
Appreciate! Actually it is pleasure to make deep communication with maintainers. And I would do my best to make contribution.

[2016-10-15 14:53] dohnto opened #41 "oci-image-tool: error extracting layer: symlink /lib/systemd/systemd tmp2/bin/systemd: file exists"
Hello, I am trying to examine a docker images without a docker tool. I have created a simple smallest docker image, where I encounter following error. The image can be found in docker repository: `dohnto/debian-skopeo`. The dockerfile is following

[code]

**Note**, that during building such an image, a `systemd` will be upgraded:

[code]

My workflow in further examination is following:

[code]

[2016-10-15 22:50] wking commented on #41
On Sat, Oct 15, 2016 at 07:53:22AM -0700, Tomas Dohnalek wrote:

Maybe you have multiple layers in the OCI image and two of them have
entries for /bin/systemd?  I expect unpackLayer should be stating the
target path and removing (recursively?) existing entries before
attemping to create the new entry.  There's more explicit wording
around this idea in-flight in [1].

If you need a hack to work aro

[2016-10-17 18:02] dohnto commented on #41
@wking ,thank you for hint where to search for the problem. I have managed to go further by putting

[code]

in here [1]. Now it fails on `../modules tmp2/etc/modules-load.d/modules.conf` which does not seem to pass the condition.

[code]

Maybe the problem is in relative link:

[code]

[1] https://github.com/opencontainers/image-tools/blob/f24d27b5e62acb27a688e36cbac13902bfb75234/image/manifest.g

[2016-10-17 18:18] wking commented on #41
On Mon, Oct 17, 2016 at 11:02:45AM -0700, Tomas Dohnalek wrote:

You don't want to be following links.  Use Lstat, or just skip the
stat, call os.RemoveAll, and ignore does-not-exist errors it may
return.  The leading stat is racy against parallel removals, so we
should be ignoring does-not-exist anyway.  And once that's in place, I
don't see a point to the stat guard.

[2016-10-18 08:04] dohnto commented on #41
Ok, I removed the checks and put the removal in here [1] and here [2], because file

[code]

file `/usr/bin/perl5.20.2` is a link. Now I came across this error:

[code]

[code]

Does not seem to be link at all so I am lost again.

But

https://github.com/opencontainers/image-tools/blob/f24d27b5e62acb27a688e36cbac13902bfb75234/image/manifest.go#L235

https://github.com/opencontainers/image-tools/bl

[2016-10-18 09:44] wking commented on #41
On Tue, Oct 18, 2016 at 01:04:35AM -0700, Tomas Dohnalek wrote:

I'm not sure what's going on with your symlink issue, but I don't
think you should be putting removal in the link and symlink blocks.
The idea is that a non-directory tar entry should clobber any previous
content at that path.  It doesn't have anything to do with links.
I've filed #42 applying the logic that's in-flight with
opencont

[2016-10-18 10:00] dohnto commented on #41
Your commit seem to solve my problem completely. Thank you.

[2016-10-25 10:51] cyphar opened #53 "add full documentation for new image tooling"
Currently all of our tooling only really has documentation for each piece. However, once #5 and #8 are merged we will (in principle) have all of the tooling necessary to create an OCI image **from scratch** using nothing but OCI tooling.

However, because of how each tool is split, we need to have documentation on how you can actually combine all of the pieces. While it may seem somewhat obvious o

[2016-10-26 11:19] cyphar opened #58 "cannot unpack gzip'd layers"
Both `oci-unpack` and `oci-create-runtime-bundle` cannot unpack `gzip`'d layers. I haven't read what the spec says about compressed layers (and I know @vbatts has some strong opinions about it) but this is either an issue in skopeo or image-tools.

Specifically, the examples in the documentation don't work:

[code]

Pinging @runcom since it involves skopeo and might be a problem there (but IMO we

[2016-10-26 11:29] cyphar commented on #58
I figured it out, it's because we haven't vendor'd opencontainers/image-spec#347 yet. And it turns out there's already a PR which fixes it #56.

[2016-10-26 11:29] runcom commented on #58
@cyphar is this a non-issue then?

[2016-10-26 11:31] cyphar commented on #58
I'll leave it open until #56 is merged. Sorry for pinging you, I thought it was related to the whole "compression breaks content-addressability" stuff that @vbatts always goes on about. :wink:

[2016-10-26 12:29] cyphar opened #59 "tools: need a tool to update/create manifests"
I've been playing around with skopeo+image-tools+#5+#8 and I've found that almost all of the necessary tooling we need is available. You can pull base images, create layers, validate layers, unpack layers and then run them. That's awesome.

However, the one missing piece is updating image manifests. This is the same as creating manifests (which is also missing). What we need is the ability to take

[2016-10-26 12:38] runcom commented on #59
see https://github.com/estesp/manifest-tool (which could maybe be extended to work with non-list manifests) (also https://github.com/docker/docker/pull/27455)

[2016-10-26 12:59] cyphar commented on #59
Yeah, we could probably implement it as a config-based thing. It's probably not going to be that complicated to implement.

That reminds me, we need to have a way of handling descriptors for images because currently images are two-links-removed from the reference'd JSON.

[2016-10-26 13:44] cyphar commented on #59
I also realised that this should actually be `oci-image` because if we want to modify image options we need to modify the image layers as well as the config. Might be more complicated to implement then (you'll have to add more than one blob).

There's probably a case to be made for `oci-gc` as well.

[2016-10-26 15:05] wking commented on #59
I agree that we'll want `oci-gc` eventually, but it seems orthogonal to this issue.  And the only reason descriptors are complicated is remembering the associated media type (which you presumably knew when you pushed the blob into CAS).  For folks building manifests in scripts, remembering those media types isn't complicated (just create descriptors at push time and insert them into the structure

[2016-10-26 17:08] cyphar commented on #59
@wking Yeah, my above review is the things I reckon is necessary for the OCI integration we're planning into KIWI (and by extension oboci which I'll implement in spare cycles). The idea is that I want to integrate the **minimum** amount of information about the spec into KIWI, so that the maintainers of KIWI don't have to handle all of the interplay between components. So I will end up writing a w

[2016-10-28 04:16] wking opened #60 "Test Anything Protocol output for image validation"
I've been plugging [TAP][1] in passing [for][2] [a][3] [while][4] [now][5], so here it is as its own issue.  I think we want validate output like:

[code]

Besides giving us a convenient place for warnings (under a `# skip`), this lets us be nice and granular with our pass/fail messages.  Users can use an off-the-shelf [TAP consumer][6] to manage the volume.  I've mocked up a bit of this using [ta

[2016-10-31 17:48] wking opened #66 "Validation strictness"
Refs can point to whichever type they like (although they [usually point at manifests or manifest lists][1]).  How should we handle validation when a ref points at a single layer?  Or at a config?  Or at an image/png?  I see a few interesting settings:

* `--unpackable`, for “can image-tools unpack this content?”.  This would be true for manifests, manifest lists, and (once we land support for it)

[2016-11-01 11:09] xiekeyang commented on #66
@wking
If manifest, manifest list and single layer are unpackable? I'm not sure, but could you present some use case for that?

[2016-11-01 15:02] wking commented on #66
A use case for unpacking a single layer?  Maybe unpacking a manifest is not giving you the results you expect, and you want to step through the layers one by one.

[2016-11-01 20:02] wking commented on #24
On Tue, Sep 20, 2016 at 07:48:54PM -0700, Brandon Philips wrote:

With opencontainers/image-spec#337 having landed, I think this is
clearly not an image-tools issue.  Can we close this one?

[2016-11-02 11:35] hustcat opened #70 "Proposal: Implement OCI image downloader"
[skopeo](https://github.com/projectatomic/skopeo) is a good image downloader, but it's belonged to `projectatomic`.

[2016-11-02 15:13] wking commented on #70
The problem with a generic image-downloader is that the OCI doesn't
define an HTTP protocol for accessing images.  We could fetch
image-layouts over HTTP (just like we already do for tar- and
directory-backed image-layouts).  I think adding support for that
would be useful.  And it would be fairly straightforward after #5, but
you could land it before #5 if you don't mind updating some existing
wa

[2016-11-03 02:14] coolljt0725 commented on #70
There is also a `oci-fetch`(https://github.com/containers/oci-fetch) can download oci image.
I'm +1 on supporting this in image-tool.

[2016-11-03 08:31] xiekeyang commented on #70
I think we can setup a new sub-command in image-tools repo, like `oci-image-fetch`, which help to fetch the image from like docker hub, to compress it to OCI image, as supporting resource for OCI image tools of validate and unpack.

[2016-11-03 08:37] runcom commented on #70
if mixing OCI and Docker is an option why don't we move https://github.com/containers/image under OCI? :)

BTW, there are already tools out there to do this, and since distribution isn't defined by image-spec I would not clutter the repo with this new command

[2016-11-03 08:53] xiekeyang commented on #70
I think it will be easier to debug and work for image-tools by adding the command. And we can make modification with probable change of OCI image. I don't think it will lead to clutter, and It seems little benefit to set up another repo.

[2016-11-03 10:04] hustcat commented on #70
https://github.com/containers/image is a powerful library,  it's great if move it under OCI.

[2016-11-03 13:47] wking commented on #70
I think image-tools should stick to implementing image-spec.  Tools that bridge with other formats and APIs belong outside of opencontainers/.  Of course, we should make the image-tools libraries easily extensible to those external projects don't have to re-implement our functionality.

[2016-11-03 15:49] glestaris commented on #70
I agree with @wking in that since it's not part of the spec it shouldn't live here.

@runcom that would be an interesting mix. Since `containers/image` supports multiple sources and destinations it would be a good companion the rest of the OCI projects and it's literally the only missing part from being able to create a container from scratch with just OCI tools.

[2016-11-04 02:53] hustcat commented on #70
I think we could setup a library with some defined APIs(or interface). ｀container/image` or other tools can implement these APIs.
These [Interfaces](https://github.com/containers/image/blob/master/types/types.go) in `contaiener/image` are good examples.

[2016-11-04 05:31] wking commented on #70
On Thu, Nov 03, 2016 at 07:53:11PM -0700, Ye Yin wrote:

There are some low-level CAS/ref interfaces in flight with #5.  There
are also some validation interfaces and a media type → intra-blob
validator map in opencontainers/image-spec#403.  I've been holding off
on higher-level interface development while those are in flight, but
yeah, I think interfaces are the way to go to build a stack of
comp

[2016-11-05 15:59] cyphar commented on #33
To be honest, all I really want for `umoci` is if I can use an `[]idtools.IDMap` (or whatever the `runtime-spec` equivalent is) to specify what translation I would like during unpacking. That's all I'm looking for here, because currently you need to run `umoci` as root (which is simply a non-starter for building things within OBS or KIWI).

The discussion in #3 about whether it can ever be "correc

[2016-11-05 22:29] cyphar commented on #70
@hustcat Here's my opinion on the topic:

1. `skopeo` already exists. Not every project that implements OCI features needs to be under the umbrella of the OCI (this is important to remember IMO). I get the frustration that distribution is not defined by the OCI (though IMO this is a blessing in disguise because it allows people to be flexible about implementing downloaders), but `skopeo` is a very

[2016-11-05 22:37] cyphar opened #74 "unpacking tools don't preserve mtime"
If you call `image.CreateRuntimeBundleLayout` twice on the same image with the same ref, all of the files will have different `mtime`s (and `ctime`s I also believe). You can check this with [`gomtree`](https://github.com/vbatts/go-mtree).

[code]

Note that I'm probably going to implement my own version of this unpacking functionality just so we can have more than one implementation of it, and the

[2016-11-05 23:49] cyphar opened #75 "layout: sharding the blob store"
One issue that I'm quite worried about is the performance impact of having too many blobs inside an OCI image. Now, practically speaking I would be surprised if `n > 20` in most cases, but some people have expressed that they would like to have the entire universe bottled into an OCI image. I will refrain from commenting on how good of an idea I think that is, but if it's going to be a "valid usec

[2016-11-05 23:50] cyphar commented on #75
Dammit, wrong repository.

[2016-11-05 23:50] #75 closed

[2016-11-06 03:50] cyphar opened #76 "create-runtime-bundle: generates incorrect Linux config"
Currently if you take a random Docker image's config file (then translate it to an OCI one using  `skopeo`) you'll get a `config.json` which looks like this:

[code]

This is **wrong**. On Linux you **have** to include the `"namespaces": [ { "type": "mount" } ]` at the very least in order for it to even be possible for you to start inside a container. Preferably we should also add the PID namespac

[2016-11-06 04:07] wking commented on #76
On Sat, Nov 05, 2016 at 08:50:09PM -0700, Aleksa Sarai wrote:

I agree that the spec gets very confusing for folks who don't specify
a mount namespace, but I don't actually see wording in the spec
requiring you to specify one [1].  Although the no-tweaking rule [2]
probably means you'd have to specify it if you put anything in the
root ‘mounts’.  However, I think the right approach to that is to
c

[2016-11-06 04:26] cyphar commented on #76
Whether we should eventually drop it is an entirely separate discussion. What's important right now is that we generate `config.json` payloads that are actually useful. cyphar/umoci#13 has my opinion on what a nice way of solving this would be (it uses `oci-runtime-tools generate`'s library).

[2016-11-06 04:47] wking commented on #76
On Sat, Nov 05, 2016 at 09:26:17PM -0700, Aleksa Sarai wrote:

This sounds good to me.  The more runtime stuff we can punt to runtime
projects, the happier I'll be.

[2016-11-09 04:59] resouer commented on #76
@crazykev pay attention to this issue for ocid work please

[2016-11-09 05:37] cyphar commented on #76
I'm working on an unpacking library for umoci, because the one in this
repo isn't really up-to-snuff (IMO). I will work on getting that library
merged here, but in the meantime (that will almost certainly take
forever) you can keep your eye on this repo[1].

[1]: https://github.com/cyphar/umoci

--
Aleksa Sarai
Software Engineer (Containers)
SUSE Linux GmbH
https://www.cyphar.com/

[2016-11-16 03:23] hustcat commented on #70
[oci-torrent](https://github.com/hustcat/oci-torrent): A tool to distribute OCI image with bittorrent

[2016-11-16 07:41] Sn0rt commented on #13
@vbatts hi, I am interesting in this issues and can for someting for this, but are you desing the command line ?

[2016-11-16 16:29] vbatts commented on #13
@Sn0rt you're welcome to open a pull-request for this and the review would happen there

[2016-11-17 08:29] hustcat opened #86 "Proposal: Implement ref deleting command"
Consider a OCI layout contain two refs: `v1.0` and `v2.0`; `v1.0` contain `layer1`, and `v2.0` contain `layer1` and `layer2`.

When I delete `v2.0`, `layer2` should be deleted.

[2016-11-17 18:10] wking commented on #86
Shallow ref-deletion is handled in #5 with commands like:

  $ oci-refs delete image.tar v2.0

On Thu, Nov 17, 2016 at 12:29:30AM -0800, Ye Yin wrote:

It's not quite that simple.  For example, perhaps layer2 is part of a
new v3.0 that is being pushed from the bottom up in parallel.  In that
case, removing layer2 could break the published v3.0.  A more robust
approach is to add a garbage-collectio

[2016-11-18 02:38] hustcat commented on #86
#5 is a great job, I'd like it be merged ASAP:)

[2016-11-22 09:28] Sn0rt commented on #13
#88 a simple version

[2016-11-30 22:56] RobDolinMS opened #91 "ReadMe should include description of how to install"
The ReadMe should include a description (or link to a description) for how to install and run the OCI Image Tools.

[2016-11-30 23:00] RobDolinMS commented on #91
Opening per discussion on OCI Dev ConCall.  /cc @vbatts

[2016-12-01 09:34] Sn0rt commented on #91
Can I copy some examples from the existing markdown to ReadMe?

[oci-create-runtime-bundle](https://github.com/opencontainers/image-tools/tree/master/cmd/oci-create-runtime-bundle)
[oci-image-validate](https://github.com/opencontainers/image-tools/blob/master/cmd/oci-image-validate/oci-image-validate.1.md)
[oci-unpack](https://github.com/opencontainers/image-tools/blob/master/cmd/oci-unpack/oci-un

[2016-12-01 16:12] wking commented on #91
On Thu, Dec 01, 2016 at 01:34:08AM -0800, Sn0rt wrote:

I'd rather link to those man pages to stay DRY, although very brief
examples being copied over are ok (like runtime-tools did in
opencontainers/runtime-tools#47).  Another approach to this portion of
getting-started is an all-command man page (linked from the README)
like the one I floated in #5 [1].

#92 looks useful too.

[1]: https://githu

[2016-12-06 08:57] q384566678 opened #96 "About the merging of subcommands"
I do not understand why the image-tools in the three sub-command split into three software, I think these three commands should be combined into a tool, after all, they belong to image-tools, I think the merger will Easy to understand and application, if I was a user, I would think that the use of a software implementation of the three commands than the use of three software to implement a command

[2016-12-07 02:40] q384566678 commented on #96
@philips @vbatts @stevvooe @coolljt0725 @xiekeyang @runcom @wking

[2016-12-07 04:56] wking commented on #96
I [don't care either way][1].

[1]: https://github.com/opencontainers/image-spec/pull/337#discussion_r91032402

[2016-12-07 05:40] coolljt0725 commented on #96
I prefer the merging just like `oci-runtime-tool`, but other maintainers may have other opinions  :）

[2016-12-21 19:24] JJ commented on #91
Definitely something should be done, either way

[2016-12-21 19:30] wking commented on #91
On Wed, Dec 21, 2016 at 11:24:32AM -0800, Juan Julián Merelo Guervós wrote:

I think #92 covers everything folks want from this issue.

[2016-12-21 19:37] JJ commented on #91
It might, when it's closed. Thanks for pointing it out, anyway.

[2017-01-06 01:57] stevvooe commented on #96
Could you please provide an example of the proposal?

I'd like to see some actual design work.

[2017-01-06 05:55] q384566678 commented on #96
@stevvooe #103 is some of my ideas, if possible, I will continue to improve.

[2017-01-06 22:15] stevvooe commented on #96
@q384566678 That is a PR.

Do you have a design document?

[2017-01-10 02:22] q384566678 commented on #96
@stevvooe This picture is my overall idea, the above separation of the three functions into a whole function. This is not only convenient to use, but also to reduce the duplication of some functions.

![image-tool](https://cloud.githubusercontent.com/assets/19640187/21791505/317f8172-d71e-11e6-9651-837d1d4f8368.png)

[2017-01-10 02:50] stevvooe commented on #96
@q384566678 Ok, that is a start.

However, it looks like this is just thrown together. Let's use an object verb pattern to structure the commands:

[code]

The above is just an example, but as you can see, we need to do some thinking about the objects that exist and the actions that can be taken with them.

[2017-01-10 06:36] q384566678 commented on #96
@stevvooe OK, I will rectify the next, thank you for your suggestion.

[2017-01-10 18:55] stevvooe commented on #96
@q384566678 Please don't make changes on this PR.

Make a design document with a proposal.

[2017-01-11 01:36] q384566678 commented on #96
@stevvooe I don't quite understand what you said `design document`, design ideas or the final generated file? would you please say this to me?

[2017-01-11 01:59] stevvooe commented on #96
@q384566678 Write something that describes what you plan to do. It should include details about what commands and subcommands there are.

[2017-01-12 07:41] q384566678 commented on #96
@stevvooe Here's what I want to do：

oci-image-tool [global options] command [command options] [arguments...]

COMMANDS:
validate
bundleCreate
unpack
(In each order will have their own sub-command below)

global options:
--version
--help
(I'm going to add other options later in global options)

[2017-01-12 21:09] stevvooe commented on #96
@q384566678 Let's try and organize around `object verb`. For example, your proposal begs the question "What am I unpacking?" and "What am I validating?". Can we achieve the same with the following:

[code]

However, I am still not sure what a bundle and what the difference between unpacking and creating is.

I think opencontainers/image-spec#467 needs to be fleshed out further.

[2017-02-03 07:48] q384566678 commented on #96
@stevvooe I think the `object` here is the input file, `verb` is the next command to be executed. So I do not think it needs to be so complicated.

[2017-02-03 23:32] stevvooe commented on #96
@q384566678 Its not about making it complicated. Its about making it reflect the actual problem. I am pretty familiar with this area and when I look at the current state of the image tool and the proposed state, I have no clue what it is trying to do.

I would really love for someone to pick up https://github.com/opencontainers/image-spec/issues/467 and start doing the engineering work of defining

[2017-02-07 03:07] #34 closed

[2017-02-08 15:01] caniszczyk opened #110 "Release manager for image-tools"
@vbatts volunteered to be a release manager here but I believe @xiekeyang is also interested and there may be others.

@vbatts want to help out @xiekeyang with the process? I know some of it's documented here:
https://github.com/opencontainers/image-tools/blob/master/RELEASES.md#planning-a-release

[2017-02-08 18:53] vbatts commented on #110
awesome!

[2017-02-08 19:27] wking commented on #91
Closable with #92 landed?

[2017-02-08 19:33] #91 closed

[2017-02-09 01:22] xiekeyang commented on #110
@caniszczyk @vbatts I'm glad to take responsible for releasing work. I have no experience before. So I'm appreciated for @vbatts help.

[2017-02-09 03:05] xiekeyang commented on #15
I think it could be closed by https://github.com/opencontainers/image-spec/pull/533

[2017-02-09 03:05] #15 closed

[2017-02-09 22:23] zeddii opened #112 "readme issue with skopeo ?"
I'm trying to use the image-tools to import and transform containers to execute under runc. The oci-unpack, oci-create-runtime-bundle and validate seem to be just what I need (I was about to run them myself).

But I'm unable to execute the steps in the Readme.md to prove to myself that something simple works.

No matter what tool I use, I get a variant of:

 ./oci-unpack --ref latest busybox-oci b

[2017-02-09 22:35] runcom commented on #112
That issue is being fixed with https://github.com/opencontainers/image-tools/pull/111 I guess.

[2017-02-09 22:39] zeddii commented on #112
Well crap. I didn't think to check pending pull requests. I'll give that a go.

[2017-02-10 17:57] zeddii commented on #112
Indeed this does fix the problem after I just updated my clone.

[2017-02-10 17:57] #112 closed

[2017-02-15 09:13] coolljt0725 opened #115 "TODO: image tool needs to update after image-layout: ./refs/ -> index.json"
With https://github.com/opencontainers/image-spec/pull/533
the image tool needs to update to handle the `index.json` instead of `./refs`

[2017-03-02 02:25] xiekeyang commented on #110
@cyphar thanks for releasing 0.1.0 package. It had better to paste the vote link on release note.
Another question, I take notice that for OCI tools like runtime-tools and runc, there is not integrity and signature verification. You add signature verification to image-tools. Maybe it is necessary of integrity verification, but if necessary of signature verification?

@opencontainers/image-tools-ma

[2017-03-02 02:26] xiekeyang commented on #110
vote result link: https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/niFeAfPy4uE

[2017-03-02 02:38] cyphar commented on #110
@xiekeyang For `runc` I've always signed tags and signed binaries when I did a release. I know that other maintainers haven't done it in the past, but that's not a good idea IMO. @vbatts similarly always signs tags. I was trying to get requirements about signed tags and releases into `CONTRIBUTING.md` last year but we decided to punt on it and leave it up to the maintainers.

As for the cadence of

[2017-03-09 15:43] vbatts commented on #110
Closing this, as someone (that isn't me) has done one release!

@xiekeyang if you have feedback on the process, that can be PRs to the release process, please open them. :100:

[2017-03-09 15:43] #110 closed

[2017-03-09 16:02] vbatts commented on #2
is there progress on this? someone want to own this?

[2017-03-09 16:03] vbatts commented on #74
I'd say add a unit test for this, but also, who wants to own this?

[2017-03-09 16:04] vbatts commented on #13
#88 is merged

[2017-03-09 16:04] #13 closed

[2017-03-09 22:38] cyphar commented on #74
Since `umoci`'s `oci/layer` library fixes this, this will be fixed when `oci/layer` moves here. And `umoci` already has tests to deal with this case.

[2017-03-09 23:20] cyphar commented on #2
`umoci`'s interfaces are already split up into packages (and I'm currently doing more cleanups in this area in preparation for the merge of the libraries into this project).

[2017-03-10 00:35] erikh commented on #2
I can dip my toe in, but probably not until late next week; not sure what
the timeline is like.

On Thu, Mar 9, 2017 at 3:20 PM, Aleksa Sarai <notifications@github.com>
wrote:

[2017-03-10 03:35] xiekeyang commented on #96
I think we might can submit a PR firstly, to combine the sub-packages under `cmd` directory, to present only one main file. This can build a basic framework, and not to conflict next engineering work of really actions. We've been blocked a little long time.

[2017-03-10 03:42] q384566678 commented on #96
I have already submitted  #103.

[2017-03-10 04:07] xiekeyang commented on #96
Thanks, I see and am reading it.

[2017-03-10 09:44] cyphar commented on #2
I'm currently planning on implementing `v1.0.0-rc5` support in `umoci`'s libraries before merging them into this project. Currently that requires some improvements to `oci/cas` (which would be the first thing I'd want to move here). `oci/casext` is good as-is (though I'd like to add more tests). `oci/config/*` is fairly okay though I want to improve some of the interfaces. `oci/{diff,layer}` needs

[2017-03-10 11:52] jonboulle commented on #2
Looking forward to seeing the umoci stuff merging in.

[2017-03-13 19:11] stevvooe commented on #96
@xiekeyang @q384566678 As requested earlier, it would be best if we could see some up front design work on the command before going forward. Please see https://github.com/opencontainers/image-spec/issues/588#issuecomment-285480614 for an example. That comment shows a command and its output. I think we really need to see this kind of detail tied to use cases before we can move forward with anything

[2017-03-15 02:18] xiekeyang commented on #96
@stevvooe

I totally agree with you not to add any functionality.

I had suggested to just combine current tools as format `oci-image <subcommand> [options]`. That bring benefits as unifying manual, unifying public command options, remove redundant code... Hopefully this patch can help to prepare a better command format (only this).

To be honest I'm a little distraught when developing `logger` fe

[2017-03-15 02:27] xiekeyang commented on #96
@stevvooe  sorry for confusing words. Do you think it is worthy to move #103  forward to what I suggest above, or we should end up it?

[2017-03-15 07:50] xiekeyang commented on #110
@opencontainers/image-tools-maintainers As only 3 PRs (no big features) were merged after v0.1.0, I want to postpone release vote at least one week, is it OK?

@cyphar Could you please present a manual of gpgsign for released packae here or where I can access, I would arrange and paste them to RELEASE.md. Thanks so much!

[2017-03-15 07:51] xiekeyang commented on #110
postpone release vote of v0.2.0

[2017-03-15 09:38] cyphar commented on #110
I consider the weekly release cadence to be a guideline (runC definitely hasn't followed it, and neither has runtime-tools). The release rules are more important for specs than for the tool repos. I'll write up how to sign everything later today.

[2017-03-15 09:54] wking commented on #110
On Wed, Mar 15, 2017 at 02:38:41AM -0700, Aleksa Sarai wrote:

The only OCI release timeline policy I can find is for specs (so
*-spec, but not runC or *-tools), and that recommends a monthly
cadence [1].  There is (for specs) a one week minimum, but that's
mostly because a new release can only be proposed after its parent has
landed [2] and votes should cook for a week to collect feedback [3].

S

[2017-03-15 19:19] stevvooe commented on #96
@xiekeyang #103 still doesn't make the difference between `unpack` and `create` clear. If the goal of #103 is to merge the commands, we can go through it, but we need to see the engineering work happen. I keep seeing PRs coming by but none of them seem to address the base concerns that I've attempted to spell out above.

[2017-03-15 22:00] stevvooe commented on #96
@xiekeyang Perhaps, we go ahead and merge #103 and then follow up the problems with `unpack` and `create`. Let's just not let those concerns drop on the floor.

[2017-03-15 23:16] #96 closed

[2017-03-16 00:07] cyphar commented on #110
@xiekeyang Here is the document. https://gist.github.com/cyphar/21a1b213901a0a0ec19764ac03646ebe

[2017-07-13 06:52] xiekeyang opened #159 "vendor golang.org/x/sys seems large"
@opencontainers/image-tools-maintainers vendor `golang.org/x/sys` seems to be ~~redundant~~ large. ~~But it exists in~~ And managed by [glide.lock](https://github.com/opencontainers/image-tools/blob/master/glide.lock#L32).
We might be able to remove the package code totally. That is big up to 4MB.
And, I think we can remove glide files from this repo. Commiter can add vendor codes manually. While

[2017-07-13 07:08] cyphar commented on #159
Absolutely not. Removing `vendor` from the repo means that you can no longer build code reproducibly, nor can they be certain what code was used to build our binaries. If `golang.org/x/sys` breaks in the future (unlikely but the point stands) then users will have to guess what version of the code worked. Distributions no longer can actually be sure what code needs to be used to build the project.

[2017-07-13 07:19] xiekeyang commented on #159
My fault. it is used in https://github.com/opencontainers/image-tools/blob/master/vendor/github.com/Sirupsen/logrus/terminal_solaris.go
If under solaris terminal, it will not work.

[2017-07-13 21:47] stevvooe commented on #159
What exactly is the proposal here?

[2017-07-14 07:27] xiekeyang commented on #159
@stevvooe I will try the proposal from @cyphar , to debug by  https://github.com/lk4d4/vndr to reduce vendor size.

[2017-07-14 18:40] stevvooe commented on #159
@xiekeyang Who cares about the size? It really doesn't matter. This is a waste of effort.

[2017-07-21 01:20] xiekeyang commented on #159
Close it temporarily

[2017-07-21 01:20] #159 closed

[2017-07-21 08:32] q384566678 opened #164 "How to handle multiple manifests with the same ref.name"
When the implementation of `create` or `unpack`, if according to the input ref, in the `index.json` can be found in a number of correspondence, this situation should be how to deal with? Is it supposed to handle all? Or deal with one? I was wondering if it should be added in the specification to increase the limit on `org.opencontainers.ref.name`?
cc/@opencontainers/image-tools-maintainers

[2017-07-21 12:20] vbatts commented on #164
they are regarded like an image tag, and therefore should be unique. Though there might be a situation where multiples are valid i.e. same name for different architectures, or some other distinguishing attribute.

[2017-07-24 08:18] q384566678 commented on #164
"schemaVersion": 2,
    "manifests": [
      {
        "mediaType": "application/vnd.oci.image.index.v1+json",
        "size": 659,
        "digest": "sha256:c0b331a7636358cb4cca3a453eeb88554dc679290b27b8f5fad53322dddc36bf",
        "annotations": {
          "org.opencontainers.ref.name": "v1.0"
        }
      },
      {
        "mediaType": "application/vnd.oci.image.manifest.v1+json",

[2017-07-24 21:21] stevvooe commented on #164
@q384566678 These are two different images, with the same ref. The UI needs to take this into account. The unique item here is the digest, not the ref. Imagine if this were an annotation unrelated to OCI and you wanted to expose a selection based on that annotation. Also, imagine the case where the index is assembled from two separate sources that may disagree on the ref. From a UX perspective, th

[2017-07-25 08:29] q384566678 commented on #164
@stevvooe So the best basis for the search is not `ref.name` but `digest`? But if it is `digest `search, the user is very troublesome to enter, and even some do not know `digest`.
I think we'd better add a required and unique attribute to `ref.name`, or [listReferences](https://github.com/opencontainers/image-tools/blob/master/image/descriptor.go#L30) is not comprehensive according to `ref.name` (

[2017-07-25 23:44] stevvooe commented on #164
@q384566678 What if I have another attribute `foo` that I want to select an image on? How will that be handled? Should we enforce uniqueness on that annotation, as well?

The problem with requiring ref to be unique is that it kicks this problem down the road for all other annotations. It becomes a special annotation, which is not the goal.

As far as `listReferences` goes, it makes the assumption

[2017-07-26 07:51] q384566678 commented on #164
@stevvooe If it is to allow users to enter the search content, or may have multiple results, which in return to our initial question, how to deal with multiple results?
I have a few thoughts on this question:
1. If you get more than one result, continue to enter the search condition until you get a result.
2. Handle multiple results, like the `validate` function (this should not work because it ca

[2017-07-26 20:54] stevvooe opened #166 "image: assumes that container has sh in PATH"
The current conversion code makes the assumption that `sh` is available when `Process.Args` is empty. This isn't covered in the specification and `sh` may not be available within the container, leading to confusing errors.

[2017-07-27 02:35] #115 closed

[2017-07-27 06:59] mcpat opened #167 "org.opencontainers.ref.name should be org.opencontainers.image.ref.name"
According to the [specification](https://github.com/opencontainers/image-spec/blob/master/annotations.md#pre-defined-annotation-keys) references for targets should be named as "org.opencontainers.image.ref.name".
In the code "org.opencontainers.ref.name" is used instead which currently leads to validation errors.

[2017-07-27 07:09] q384566678 commented on #167
The problem is dealt with in #152 , waiting for rebase.

[2017-07-27 07:26] mcpat commented on #167
A sorry. I did not check the closed issues list!

[2017-07-27 07:26] #167 closed

[2017-07-28 09:29] q384566678 commented on #164
@vbatts @stevvooe @xiekeyang @coolljt0725 @jonboulle @wking Do you have any suggestions?

[2017-07-28 18:06] stevvooe commented on #164
@q384566678 The above comment is a suggestion. Selecting items from a list isn't wildly complicated. In the vast number of cases, only a single result is returned:

[code]

The other approach is to simply take the first match:

[code]

Limiting uniqueness over an arbitrary annotation is simply not an option. Do so will prevent future use cases of image indexes to be useful.

[2017-07-31 08:27] q384566678 commented on #164
@stevvooe thanks for your advice, I make #169 to solve the problem. PTAL.

[2017-08-04 16:53] wking commented on #21
And #7 was [merged back in October][1], so we can definitely close this issue ;).

Also related is the larger bundle cleanup (vs. just the unpacked rootfs cleanup) floated in #172.  But that's distinct from this issue, so I see no reason to leave this issue open.

[1]: https://github.com/opencontainers/image-tools/pull/7#event-814956833

[2017-08-17 07:42] q384566678 commented on #21
As @wking said, closing this issus.

[2017-08-17 07:42] #21 closed

[2017-08-17 07:44] q384566678 commented on #19
Since https://github.com/opencontainers/image-spec/pull/265 has benn merged, closing this issues.

[2017-08-17 07:44] #19 closed

[2017-08-29 19:37] mgoltzsche opened #175 "Use github.com/sirupsen/logrus instead of github.com/Sirupsen/logrus"
Since image-tools refers to the logrus package with a capital letter it cannot be imported together with another package that uses the lower-case logrus package name since go build returns a case-insensitive import collision.

Thus unfortunately for instance I cannot import image-tools together with github.com/containers/image.

To solve this issue the glide dependency and corresponding imports sh

[2017-09-26 01:15] #175 closed

[2017-09-26 06:37] q384566678 opened #187 "ROADMAP for image-tools"
Hi everyone,
In order to achieve the release as soon as possible, I made the following roadmap, any comments are welcome. cc @opencontainers/image-tools-maintainers @wking

v0.4.0:
To solve the current two major problems:
    1.ref problem #169
    2.Autodetect problem #184 #62

v0.5.0:
Add create-layer sub command #8
Add create-image sub command

v0.6.0
Add oci-cas sub command #40  (This still ne

[2017-10-12 07:50] jovizhangwei opened #188 "oci-image-tool failed to unpack"
[code]

[2017-10-12 07:54] cyphar commented on #188
I believe this is caused by us not removing an existing file if the type has changed on extraction.

As an aside, if you'd like to take a look at another tool for manipulating OCI images, I'd recommend [umoci](https://github.com/openSUSE/umoci) (which is a tool I wrote and we use quite heavily at SUSE).

[2017-10-12 07:57] coolljt0725 commented on #188
same issue https://github.com/opencontainers/image-tools/issues/41 and may fixed by https://github.com/opencontainers/image-tools/pull/42?

[2017-10-12 08:07] jovizhangwei commented on #188
umoci is also not working.

[code]

[2017-10-12 08:25] q384566678 commented on #188
I can do that in #42 . @coolljt0725 Shell we merge #42  to solve this problem?

[2017-10-12 08:30] jovizhangwei commented on #188
@q384566678  I got this after merged #42 locally.

[code]

[2017-10-12 08:34] q384566678 commented on #188
After you merged this, you need to `git rebase` first, and then `make tool`.

[2017-10-12 08:44] jovizhangwei commented on #188
Oh, it works, #42 indeed fixed my problem. Thanks guys. @coolljt0725 @q384566678 @cyphar

[2017-10-12 08:54] #188 closed

[2017-10-19 00:49] #41 closed

[2017-10-19 18:38] david-drinn opened #191 "Docs: skopeo copy command needs a destination image tag"
The Example has you run:

skopeo copy docker://busybox oci:busybox-oci

However, this fails with:

Error initializing destination oci:busybox-oci:: cannot save image with empty image.ref.name

[2017-10-19 18:38] david-drinn commented on #191
Looking at the test code for skopeo, it appears that the skopeo copy command requires a tag for the destination image.

[2017-10-24 03:53] jovizhangwei opened #193 "oci-image-tool failed"
[code]

[2017-10-24 05:55] q384566678 commented on #193
[code]

I tried and didn't fail. Are you the latest version?

[2018-01-24 01:38] #164 closed

[2018-02-08 07:55] coolljt0725 commented on #187
ping @opencontainers/image-tools-maintainers

[2018-02-09 02:20] stevvooe commented on #187
@coolljt0725 UI in #169 needs to be fixed: these images don't have a name, they have a tag. The API should allow for arbitrary label selection. The current situation prevents us from _ever_ adding a name in the future. I described the desired behavior and syntax in https://github.com/opencontainers/image-tools/issues/164#issuecomment-317904913.

Something like this:

`oci-image-tool validate --sel

[2018-02-09 03:32] q384566678 commented on #187
Fine. I'll modify it.

[2018-02-10 07:44] ksanjeet commented on #193
[code]
oci-mage-tool create requires --ref in format A=B

[2018-02-19 11:32] t3hmrman opened #202 "Note go-md2man as a dependency"
While downloading the latest code and trying to build with `make all` I noticed that `imate-tools` depends on `go-md2man`, thought you guys might want to make that explicit in the documentation .

[2018-03-07 17:00] johnfosborneiii opened #203 "instructions wrong on README.md"
The command:
oci-image-tool create --ref latest busybox-oci busybox-bundle

Should read:
oci-image-tool create --ref name=latest busybox-oci busybox-bundle

In order to work properly. It's just missing the "name="

[2018-06-06 16:19] onlyjob opened #204 "New release please"
Back in the days (~2016) when `oci-image-tool` was provided by _image-spec_ we introduced _oci-image-tool_ `1.0.0~rc2` into Debian.

Now when `oci-image-tool` has been moved into this repository, the latest tagged version is `1.0.0~rc1` which is lower than older release.

Could you please tag new release, perhaps `1.0.0~rc3` or greater?

Because of this versioning inconsistency I can't upload _ima

[2018-06-10 21:56] knieriem opened #205 "oci-image-tool commands ‘validate’ and ‘create’ failing for tar and zip images"
Due to a change in rev. 9027d58 validating an image in a tar (or zip) file is failing currently with the following message:

    <tar-image>: find failed: unable to walk: end of walk

This is because in the context of the transition from using `w.walk` to `w.find` in `findManifest` (and, similar, `findConfig`) which has been done in 9027d58, the interaction between `walk/findFunc` and error handli

[2018-06-12 09:04] q384566678 commented on #205
@knieriem Can you push that patch to this community to solve this problem?

[2018-07-26 11:14] onlyjob commented on #204
#200 will fix this.

[2018-07-27 01:34] q384566678 commented on #204
I also wanted to release a new version, but the [vote](https://groups.google.com/a/opencontainers.org/forum/#!topic/dev/5QRZjvioaZU) on the new version that was launched a long time ago did not pass, and there was no solution for the community, so it was stuck.

[2018-09-14 02:54] vbatts commented on #193
I'm getting this failure as well. Pulled fresh from master (c95f76cbae7433449f3a09f329ef816a1a0d16b3)
[code]

[2018-09-14 12:03] cyphar commented on #193
Okay, so basically the issue is that the symlink handling is quite seriously incorrect. It assumes that all symlink targets are relative to the link name (this is only true for relative symlinks -- in this case it isn't an issue though) and also it appears that there's something wrong with how paths are handled.

The failure is that `filepath.Join(filepath.Dir(path), hdr.Linkname)` doesn't have a

[2018-10-12 00:37] onlyjob commented on #204
The problem was introduced when repository was moved -- that's when ~rc2 became ~rc1. Version should have remained the same or became higher, not lower.
Merely tagging RC2 would have resolved the issue and that I believe would not require voting as this very version has been already released.
This is just a tagging inconsistency...

[2019-03-05 20:13] vbatts opened #213 "MAINTAINER update needed"
@xiekeyang email is incorrect in MAINTAINERS
Also @jonboulle is incorrect, his correct one is in https://github.com/opencontainers/image-spec/blob/master/MAINTAINERS

[2019-03-06 02:43] xiekeyang commented on #213
@vbatts thanks for reminding 😸 , I submit pr #216

[2019-03-06 06:31] #213 closed

[2019-07-08 01:38] AdamSimpson opened #218 "unpack permissions incorrect"
I have run across an issue in another project that uses `image-tools`, sylabs/singularity#3880, that looks to be caused by `image-tools` failing to unpack files with the correct permissions. The issue appears when building from a Dockerfile when a file is created in one layer and then in a subsequent layer the permissions are modified. In this case it looks like the unpacked image has the original

[2019-07-09 02:10] cyphar commented on #218
I would suggest using https://github.com/openSUSE/umoci instead -- `image-tools` has historically had many problems with unpacking things correctly and is the main reason I ended up writing `umoci`. It's used by quite a few other projects as well (within openSUSE we use it to build our container images, it's used by LXC as a method of getting OCI support, and there are tools built on-top of `umoci

[2019-07-09 13:44] cyphar commented on #218
Oh sorry, I didn't notice you already mentioned you tested against `umoci`. :wink:

I could look into porting `image-tools` to `umoci` (the underlying libraries should be fairly reusable -- I know a few folks that are reusing it).

[2019-07-09 21:15] AdamSimpson commented on #218
Thanks @cyphar, it looks like the Singularity devs are looking into integrating `umoci`. From what I could see this should be relatively straight forward.

[2019-09-28 09:19] zokrezyl opened #219 "oci-image-tool create failed during symlink copy"
[code]

I get the following error

[code]

[2019-09-28 11:29] cyphar commented on #219
I would suggest using https://github.com/openSUSE/umoci for OCI image operations. It is more consistently maintained and was written specifically because `image-tools` had lots of problems like the one you've hit.

[2019-09-28 11:38] zokrezyl commented on #219
Thanks for the fast feedback. Did not try umoci as I did not find any nix expression on https://github.com/NixOS/nixpkgs and was lazy to write one, but in this case probably will create a PR for nixpkgs for umoci.

BTW, bit off topic: I am working on a concept to use nixpkgs to generate "dynamically" images for runc. Do you know where would be the best to discuss this with runc/"container/image"/c

[2019-09-28 11:45] cyphar commented on #219
You could try sending a message to dev@opencontainers.org.

[2019-11-04 00:43] andrewchambers opened #220 "Create man page appears copied from unpack man page"
It says create unpacks an image, likely a mistake.

[2019-12-03 00:36] FranklinYu commented on #204
@q384566678 Any news? Shall we simply tag v1.0.0-rc1 as v1.0.0-rc2 as @onlyjob mentioned above? This way https://bugs.debian.org/900900 can go forward. This should be quick and easy without the need of any voting since it's not a final stable release.

[2019-12-03 03:59] cyphar commented on #204
I'll submit a vote for `1.0.0~rc3` on the mailing list, but I really don't suggest people use this project (except maybe for the image-spec verification).

[2019-12-03 05:54] FranklinYu commented on #204
Hmm… I came here because I thought Podman depends on this (directly or indirectly). @onlyjob Please correct me if that wasn’t the case.

[2019-12-03 08:06] onlyjob commented on #204
Debian bug report says "Blocking: skopeo" and indeed Skopeo uses this library:

  https://github.com/containers/skopeo/blob/master/integration/copy_test.go#L23

Also Umoci may have used it. Not sure about Podman...

[2019-12-03 10:43] cyphar commented on #204
@onlyjob `umoci` does use it for its integration tests (specifically we use it to double-check that our images are valid), and I'm fairly sure that I added the same logic to `skopeo`'s integration tests (after tools kept breaking back in 2017).

Is this an issue for Debian packaging? I've never had an `image-tool` failure during development (except for where it was a bug in image-tools), so it's a

[2019-12-03 13:10] onlyjob commented on #204
Not a problem, don't you worry @cyphar. Thanks.

Main concern was that we could not upgrade _image-spec_ without losing some functionality and upload of _image-tools_ is held by this very issue. I'm not aware of any issues in regards to Umoci package. Skopeo probably can be built without _image-tools_. Making the latter optional in Umoci is probably a good idea but not too important...

Arguably a

[2019-12-03 23:26] FranklinYu commented on #204
I got the impression that Podman depends on skopeo from your comment in the issue containers/libpod#1742

[2019-12-03 23:42] onlyjob commented on #204
No, Podman does not depend on Skopeo. Somebody just asked about Skopeo and somehow link to corresponding ITP bug was referenced... Podman is already waiting for review in the NEW queue in Debian.

[2020-03-19 08:55] FlorianLudwig opened #222 "example in README does not work"
Executing the examples from the README don't work.

For example the first one:
[code]
seems to have changed the CLI arguments (quite some time ago)[https://github.com/opencontainers/image-tools/issues/193#issuecomment-364633491].

[2020-04-22 00:51] simar7 opened #223 "Is this project still maintained?"
I couldn't do a `go get -d github.com/opencontainers/image-tools/cmd/oci-image-tool` to download the project because of dependency issue. Is the project still maintained?

If it's not actively maintained, are there projects we should be looking at?

[2020-04-23 07:30] cyphar commented on #223
I wouldn't say this project is unmaintained, but I would suggest that you look at https://github.com/openSUSE/umoci (full disclosure, this is a project I developed). There is currently an [open proposal to move `umoci` into OCI and to effectively replace this project as its spiritual successor](https://github.com/opencontainers/tob/pull/67).

[2020-05-07 15:08] jedichen121 commented on #222
For the README example, using `name` works [ref](https://github.com/opencontainers/image-tools/blob/master/man/oci-image-tool-create.1.md).

However, I still couldn't run the example. It reported
[code]
 Then I removed the config.json file and used `runc spec` to generate a new one and modified the `"args"` to be `"/rootfs/bin/sh"`. And now it reports permission issue. Though I'm already using sud

[2020-06-22 04:06] cyphar commented on #223
[umoci] is now an OCI project as a reference implementation of the OCI image-spec. I would strongly suggest people move to using umoci.

[umoci]: https://github.com/opencontainers/umoci

[2020-06-22 04:07] cyphar commented on #222
This project is no longer actively maintained. However, [umoci] is a much more full-featured tool for manipulating OCI images, and is now an OCI project as a reference implementation of the OCI image-spec. I would strongly suggest people move to using umoci.

[umoci]: https://github.com/opencontainers/umoci

[2020-06-22 04:07] cyphar commented on #219
This project is no longer actively maintained. However, [umoci] is a much more full-featured tool for manipulating OCI images, and is now an OCI project as a reference implementation of the OCI image-spec. I would strongly suggest people move to using umoci.

[umoci]: https://github.com/opencontainers/umoci

[2020-06-22 04:07] simar7 commented on #223
Awesome! Thank you for the update. I'll close this issue as my question is now resolved.

[2020-06-22 04:07] #223 closed

[2020-06-22 04:07] cyphar commented on #218
This project is no longer actively maintained. However, [umoci] is a much more full-featured tool for manipulating OCI images, and is now an OCI project as a reference implementation of the OCI image-spec. I would strongly suggest people move to using umoci.

[umoci]: https://github.com/opencontainers/umoci

[2020-06-22 04:08] cyphar commented on #193
This project is no longer actively maintained. However, [umoci] is a much more full-featured tool for manipulating OCI images, and is now an OCI project as a reference implementation of the OCI image-spec. I would strongly suggest people move to using umoci.

[umoci]: https://github.com/opencontainers/umoci

[2020-06-22 04:08] cyphar commented on #86
This project is no longer actively maintained. However, [umoci] is a much more full-featured tool for manipulating OCI images, and is now an OCI project as a reference implementation of the OCI image-spec. I would strongly suggest people move to using umoci.

[umoci]: https://github.com/opencontainers/umoci

[2020-06-22 04:08] cyphar commented on #74
This project is no longer actively maintained. However, [umoci] is a much more full-featured tool for manipulating OCI images, and is now an OCI project as a reference implementation of the OCI image-spec. I would strongly suggest people move to using umoci.

[umoci]: https://github.com/opencontainers/umoci

[2020-06-26 21:00] bhabermaas opened #225 "go-md2man is missing"
Trying to build the tools this command is missing.  I haven't found any information on getting this for oraclelinux.  Can you provide that information?
When other dependencies can I expect preventing me from a successful build?
Thanks in advance.

[2020-06-27 08:10] cyphar commented on #225
`go get -u github.com/cpuguy83/go-md2man`

[2020-07-02 15:18] bhabermaas commented on #225
Anyway I can override the go version?
 go get -u github.com/cpuguy83/go-md2man
# runtime/internal/atomic
flag provided but not defined: -gensymabis
usage: asm [options] file.s ...
Flags:
  -D value
    	predefined symbol with optional simple value -D=identifier=value; can be set multiple times
  -I value
    	include directory; can be set multiple times
  -S	print assembly and machine code
  -V	pr

[2020-07-09 21:36] mrxsystems opened #226 "myONE"

[2020-07-10 05:31] #226 closed

[2021-02-21 09:15] chirangaalwis opened #228 "Validate Container Images with OCI Specification"
I encountered https://github.com/opencontainers/image-spec/issues/738 which already requests for a tool which can validate a provided container image if it meets the OCI specification.

But the development of the tools in the GitHub [Repository](https://github.com/opencontainers/image-tools) seems to have halted for the past 2-3 years.

Is it safe and up to date to use the tools defined in this is

[2021-02-21 09:16] chirangaalwis commented on #228
Closing this issue as I have opened it in the incorrect repository.

[2021-02-21 09:16] #228 closed

[2021-06-10 02:07] stevegt commented on #204
Please, tag a new release -- leaving an ancient release as the only one tagged is playing havoc with the way Go modules work -- the module machinery tries to use the most recent tagged release instead of the most recent git commit.

If the choice is to not tag a new release, then please archive this repo as officially frozen -- refer to #223 for instance.  I'm starting to think my own group here h

[2021-06-10 02:16] stevegt commented on #175
Without a new release tagged (#204), `go mod tidy` defaults to the old, most-recent tag, rather than the most recent commit, so by default #175 is not included.  Anyone running into this needs to explicitly include a more recent commit hash in their imports and/or go.mod file entry.

[2021-06-11 14:53] cyphar commented on #204
I will open a PR for a new release since the tagging problem is really a technical issue, but archiving the project is a little more complicated because the OCI (specifically the OCI Technical Oversight Board) technically doesn't have a mechanism for archiving projects. We have discussed this problem on the [OCI TOB calls](https://hackmd.io/kKl1ECKnSLWhgk7dZ2WUFQ) a few times, but we had other iss

[2021-06-11 14:55] cyphar commented on #204
Also I just remembered that I did open a PR to add a note to the README last year (#224) -- no reviews, obviously.

[2021-06-11 14:57] cyphar commented on #204
And I opened a release PR for ~rc3 several years ago (#221) -- which was reviewed, so I could technically merge it now...

[2021-06-11 15:02] #204 closed

[2021-06-11 15:07] cyphar commented on #204
https://github.com/opencontainers/image-tools/releases/tag/v1.0.0-rc3

[2021-06-14 05:28] stevegt commented on #204
Thank you @cyphar.

[2021-07-24 16:03] lengrongfu opened #230 "bug: project build fail"
[code]

[2021-07-25 02:53] #230 closed, assigned to nobody

[2021-10-20 18:38] jdolitsky opened #231 "Rename master branch to main"
This is listed under "Tier 1: Replace Immediately" in the Inclusive Naming Initiative:
https://inclusivenaming.org/word-lists/tier-1/#master

[2021-10-20 20:30] jdolitsky opened #232 "Switch CI to use GitHub Actions"
Migrate from Travis to GitHub Actions to have parity across opencontainers projects